html {
    height: 100%;
}

body {
    height: calc(100vh - 164px);
    background-color: #fff;
}

/* generic */
a:hover {
    text-decoration: none;
}

.generic-header {
    text-transform: uppercase;
    font-size: 3rem;
    margin-top: 2rem;
}

.text-center{
    text-align: center;
}

.jc-center {
    justify-content: center;
}


/* header */
.top-header {
    background: #b7b7b7;
    align-items: center;
}

.bg-black {
    background: #000;
}

.header-top-text {
    margin: 0;
    padding: 0.5rem 0;
    font-size: 0.8rem;
}

.logo {
    width: 70%;
}

.header-hover {
    color: #000;
    transition: all .5s;
}

.header-hover:hover {
    color: #177BD1;
}

.search-input {
    border: 2px solid #177BD1;
    border-radius: 25px;
    background: #000;
    color: #fff;
}

.form-control:focus {
    color: #fff;
    background-color: #000;
    border-color: #177BD1;
    box-shadow: none;
}

.form-control .qicon i:hover {
    color: #177BD1;
}

.basket-icon {
    display: flex;
    justify-content: end;
}

.nav-links {
    font-size: 1.2rem;
    transition: all .5s;
}

.nav-links:hover {
    color: #177BD1 !important;
}

.cart {
    transition: all .5s;
}

.cart:hover {
    color: #177BD1 !important;
}

.dropdown-item {
    transition: all .5s;
}

.dropdown-item:hover {
    background: #b7b7b7;
}

.navbar-toggler {
    background-color: #fff;
}

.mobile-top-head ul{
    margin: 0;
    padding: 0;
}

.nav-m-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.mobile-logo {
    text-align: center;
}
/* hero image */
.blue-btn {
    background-color: #62c5e6;
}

.hero-container {
    padding: 3rem 1rem;
}

.hero {
    background: url('/media/hero-img.png') no-repeat center center fixed;
    background-size: cover;
}

/* all clubs page */

.card {
    transition: all .5s;
    background: #eee !important;
}

.card:hover {
    box-shadow: 5px 10px 18px #888888;
}

.card-body {
    padding: 0 !important;
}

/* sign up pages */
.signup-pages {
    margin-top: 13rem;
}

.signup-card {
    width: 60%;
}

.e-center {
    display: flex;
    justify-content: center;
    text-align: center;
}

/* club detail */
.page-wrapped {
    padding: 2rem 5rem;
}

.club-container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.club-container a {
    max-width: 60px;
}

.club-container a img {
    width: 100%;
}

.club-container h1 {
    margin-left: 2rem;
}

.club-title-wrapped {
    width: 100%;
}

.club-title-wrapped hr{
    border-top: 2px solid #000;
}

/* media queries */

@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }

}

@media (max-width:991px) {
    .hero-container {
        margin-top: 5rem;
    }

    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}

@media (max-width: 550px) {
    .logo {
        width: 75%;
    }
}

@media (max-width: 450px) {
    .logo {
        width: 100%;
    }
}