{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="container-fluid signup-pages">
  <div class="row">
    <div class="col e-center">
      <div class="card signup-card">
        <div class="card-body">
          <h1>{% trans "SIGN IN" %}</h1>

          {% get_providers as socialaccount_providers %}
          <form class="login" method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}
            {{ form.as_p }}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
            <button class="primaryAction allauth-blue-btn" type="submit">{% trans "Sign In" %}</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col e-center">
      <div class="card signup-card card-bot">
        <div class="card-body">
          <h1>NEW TO SNOWEFOX?</h1>
          <p>Creating an account has many benefits: check out faster and more.</p>
             <a href="{{ signup_url }}" class="allauth-grey-btn">sign up</a>
        </div>
      </div>
    </div>
  </div>
</div>



{% endblock %}
